Host clabsvr
  User USER
  Hostname 192.168.10.10 
  Port 22
  IdentityFile ~/.ssh/cloudlab_key
  StrictHostKeyChecking=no
  UserKnownHostsFile ~/.ssh/clab_hosts
  ServerAliveInterval 120

Host clabcl1
  User USER
  Hostname 192.168.10.11
  Port 22
  IdentityFile ~/.ssh/cloudlab_key
  StrictHostKeyChecking=no
  ServerAliveInterval 120
